[package]
name = "frontend"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1"
base64 = "0.21"
chrono = "0.4"
console_error_panic_hook = "0.1"
const_format = "0.2"
csv = "1.1"
easy-cast = "0.5"
#keep in sync with yews gloo version
gloo = "0.4"
gloo-storage = "0.2"
gloo-utils = "0.1"
image = "0.24"
js-sys = "0.3"
konst = "0.3"
lazy_static = "1.4"
# logging
log = "0.4"
qrcode = "0.12"
regex = "1.7"
serde = "1"
serde_json = "1"
sha2 = "0.10"
shared = { path = "../shared" }
split-iter = "0.1"
urlencoding = "2.1"
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
wasm-logger = "0.2"
wasm-sockets = "1.0"
wordcloud-rs = "0.1"
yew = "0.19"
yew-agent = "0.1"
yew-router = "0.16"
yewdux = "0.8"

[dependencies.web-sys]
version = "0.3"
features = [
    "Clipboard",
    "Navigator",
    "Document",
    "Window",
    "DomRect",
    "CssStyleDeclaration",
    "ValidityState",
    "Request",
    "RequestInit",
    "RequestCredentials",
    "RequestMode",
    "Response",
    "Headers",
    "DomTokenList",
    "HtmlSelectElement",
    "HtmlAnchorElement"]

[dev-dependencies]
wasm-bindgen-test = "0.3.0"

[build-dependencies]
anyhow = "1"
handlebars = "4.3"
konst = "0.3"
vergen = "7"
