# https://sagiegurari.github.io/cargo-make

[env]
RUSTFLAGS = "--cfg=web_sys_unstable_apis"
# "beta" or "local"
LA_ENV = { value = "local", condition = { env_not_set = ["LA_ENV"] } }

[tasks.cargo-check]
command = "cargo"
args = ["c", "--target=wasm32-unknown-unknown"]

[tasks.clippy]
command = "cargo"
args = ["clippy", "--target=wasm32-unknown-unknown"]

[tasks.carg-fix]
command = "cargo"
args = ["fix", "--allow-dirty", "--target=wasm32-unknown-unknown"]

[tasks.clippy-fix]
command = "cargo"
args = ["clippy", "--fix", "--allow-dirty", "--target=wasm32-unknown-unknown"]

[tasks.clippy-nightly]
script_runner = "@shell"
script = '''
cargo +nightly clippy --target=wasm32-unknown-unknown
'''

[tasks.nightly-test]
script_runner = "@shell"
script = '''
cargo +nightly test --target=wasm32-unknown-unknown
'''

[tasks.cargo-sort]
install_crate = "cargo-sort"
command = "cargo"
args = ["sort", "-c"]

[tasks.udeps]
command = "cargo"
toolchain = "nightly"
args = ["udeps", "--target=wasm32-unknown-unknown"]

[tasks.format]
install_crate = "fmt"
command = "cargo"
args = ["fmt", "--", "--check"]

[tasks.fix]
dependencies = ["cargo-fix", "clippy-fix"]

[tasks.checks]
dependencies = ["cargo-sort", "format", "cargo-check", "clippy", "udeps"]

[tasks.checks_ci]
dependencies = ["cargo-sort", "format", "cargo-check", "clippy"]

[tasks.serve]
install_crate = "trunk"
command = "trunk"
args = ["serve", "--no-autoreload"]

[tasks.serve-release]
install_crate = "trunk"
command = "trunk"
args = ["serve", "--release", "--no-autoreload"]

[tasks.build-release]
install_crate = "trunk"
command = "trunk"
args = ["build", "--release"]

[tasks.build]
install_crate = "trunk"
command = "trunk"
args = ["build"]

[tasks.check-size]
script_runner = "@shell"
script = '''
ls -lh dist/*.wasm
'''

[tasks.build-and-check]
dependencies = ["build-release", "check-size"]
