[package]
name = "liveask-server"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
aws-config = "0.51"
aws-sdk-dynamodb = "0.21"
axum = { version = "0.5", features = ["ws"] }
chrono = "0.4"
deadpool-redis = { version = "0.11", default-features = false, features = ["rt_tokio_1"] }
futures-util = "0.3"
mailjet-rs = "0.2" 
redis = { version = "0.22", default-features = false, features = ["tokio-comp","connection-manager"] }
reqwest = { version = "0.11", features = ["json"] }
sentry = "0.29.0"
sentry-anyhow = "0.29"
sentry-tower = { version = "0.29", features = ["http"] }
sentry-tracing = "0.29"
serde = "1"
serde_json = "1"
shared = { path = "../shared" }
tinyurl-rs = "0.1"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tower-http = { version = "0.3", features = ["cors", "trace"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
ulid = "1.0"

[dev-dependencies]
pretty_assertions = "1"
