# https://sagiegurari.github.io/cargo-make

[env]
BASE_URL = "http://localhost:8080"
DDB_LOCAL = 1

[tasks.run]
command = "cargo"
args = ["r"]

[tasks.format]
install_crate = "fmt"
command = "cargo"
args = ["fmt", "--", "--check"]

[tasks.cargo-sort]
install_crate = "cargo-sort"
command = "cargo"
args = ["sort", "-c"]

[tasks.tests]
command = "cargo"
args = ["nextest", "run", "-p", "liveask-server", "-p", "shared"]

[tasks.test-nightly]
command = "cargo"
toolchain = "nightly"
args = ["t"]

[tasks.clippy]
command = "cargo"
args = ["clippy"]

[tasks.clippy-nightly]
command = "cargo"
toolchain = "nightly"
args = ["clippy"]

[tasks.udeps]
command = "cargo"
toolchain = "nightly"
args = ["udeps"]

[tasks.checks]
dependencies = [
    "cargo-sort",
    "format",
    "tests",
    "clippy",
    # cannot succeed as nightly is broken right now: #72
    # "udeps"
]

[tasks.checks_ci]
dependencies = ["cargo-sort", "format", "tests", "clippy"]

[tasks.run-release]
command = "cargo"
args = ["r", "--release"]
