.app-host {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 62px;
  display: flex;
  justify-content: center;

  transition: padding-top 0.4s ease;

  &.offline {
    padding-top: 1.8em;
  }
}

.router {
  width: 100%;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

#admin {
  display: flex;
  justify-content: center;

  .inner {
    cursor: pointer;
    width: 35px;
    padding-top: 20px;
  }
}