.app-host {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 62px;
  display: flex;
  justify-content: center;
}

.router {
  width: 100%;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

// h1 {
//   font-size: 1.2em;
//   color: #999;
//   margin-bottom: 0;
// }

// h2 {
//   font-size: 2em;
//   margin-top: 0;
//   padding-top: 0;
// }

.offline {
  padding-top: 1.8em;
}