@import 'colors';

@keyframes example {
  20% {
    transform: translate(0px, -6px);
    animation-timing-function: ease-in-out;
  }

  40%,
  100% {
    transform: translate(0px, 0px);
  }
}

#Oval-Copy-52 {
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#Oval-Copy-53 {
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}

#Oval-Copy-54 {
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
}

.topbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 161px;
  min-width: 224px;

  text-align: left;
  z-index: 1;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.07);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.4s ease;

  &.offline {
    margin-top: 1.8em;
  }

  &.shrink {
    height: 60px;
  }

  .iconbar {
    float: right;
  }

  .logo {
    bottom: 7px;
    position: absolute;
    transition: all .4s ease;
  }

  .logo-letters-svg {
    transition: all 0.4s ease;
    margin-left: 10.73px;
    margin-bottom: 9.77px;
  }

  @media (max-width: 400px) {
    .logo-letters-svg.shrink {
      opacity: 0;
    }
  }

  .innerbox {
    min-width: 226px;
    width: 375px;
    height: 100%;
    position: static;
  }

  @media (min-width: 400px) {
    .innerbox {
      width: 800px;
    }
  }

  .clickable-logo {
    margin-left: 43px;
    margin-top: 15px;
    display: inline-block;
  }

  .createevent {
    color: $pink-bg;
    font-size: 14px;
    letter-spacing: 0.22px;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 23px;
    margin-right: 30px;
  }

  .share {
    font-size: 14px;
    letter-spacing: 0.22px;
    line-height: 16px;
    text-transform: uppercase;
    position: relative;
    top: 21px;
    left: 113px;
  }

  @media (min-width: 400px) and (max-width: 600px) {
    .share {
      left: 210px;
    }
  }

  @media (min-width: 600px) {
    .share {
      left: 390px;
    }
  }
}

@media (min-width: 400px) {
  .topbar {
    height: 60px;
  }
}