@import 'text-macros';
@import 'colors';

.payment-popup {
	max-width: 260px;
	background-color: $event-bg;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;

	.payment-logo {
		width: 280px;
		margin-bottom: 35px;
	}
}