@import 'colors';

.popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	background-color: rgba(1, 1, 1, 0.8);
}

.popup {
	background-color: white;
	border-radius: 4px;
	padding: 40px;
	margin: auto;
	text-align: center;
}