.privacy {
    font-size: 11pt;
    color: black;
    margin: 30px;
    text-align: justify;

    h1 {
        font-size: 21pt;
        color: black;
        margin: 30px;
    }

    h2 {
        font-size: 17pt;
        color: black;
        margin: 30px;
    }
}