@import 'colors';
@import 'text-macros';

.password {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

	button {
		margin: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	input {
		width: 152px;
		height: 42px;

		border-radius: 64px;
		border-width: 1px;
		border-style: solid;
		border-color: $button-border-color;
		box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.07);

		margin: 10px;
		padding-left: 10px;
		text-align: center;
	}

	img {
		width: 24px;
		margin-top: 1px;
	}

	.confirmed {
		width: 150px;
		height: 40px;

		border-radius: 64px;
		border-width: 1px;
		border-style: solid;
		box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.07);
		border-color: $button-border-color;

		margin: 10px;

		color: black;
		background-color: white;

		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}