.questions {
  padding-bottom: 20px;
  max-width: 700px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.questions-move {
  transition: transform 500ms;
}

.noquestions {
  color: white;
  font-size: 120%;
  text-align: center;
  margin-top: 24px;
  padding-bottom: 100px;

  &.modview {
    color: black;
  }
}

.questions-seperator {
  font-size: 12px;
  letter-spacing: 0.19px;
  line-height: 14px;
  text-transform: uppercase;

  margin-top: 32px;
  margin-bottom: 13px;

  text-align: center;

  color: white;
  text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 3px #000;
}

.questions-seperator.modview {
  color: white;
}