@use 'colors' as *;

.subscribe-success {
	text-align: center;

	.title {
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	.email {
		color: #666;
		margin-bottom: 20px;
	}

	.instructions {
		margin-top: 30px;
		font-size: 14px;
		color: #666;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.link-box {
		display: flex;
		min-height: 50px;
		margin-top: 40px;
		margin-bottom: 20px;
		background: #FAFAFA;
		border: 1px solid #D4D4D4;
		box-sizing: border-box;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0747566);
		border-radius: 4px;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;

		.link {
			flex: 1;

			margin-left: 2px;
			margin-top: 15px;
			margin-bottom: 15px;
			margin-right: 15px;

			font-style: normal;
			font-weight: normal;
			line-height: 20px;
			font-size: clamp(9px, 2vw, 12px);
			letter-spacing: 0.25px;

			color: #1E1E1E;
			text-align: left;
			overflow-x: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			direction: rtl;
		}

		.copy {
			min-width: 55px;
			margin-top: 16px;
			margin-right: 10px;
			margin-bottom: 17px;

			font-style: normal;
			font-weight: 500;
			line-height: normal;
			font-size: 14px;
			text-align: right;
			letter-spacing: 0.21875px;
			text-transform: uppercase;

			color: $pink-button;
		}
	}
}
