@import 'colors';

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tag {
        color: white;
        background-color: $col-button-disabled;
        margin: 2px;
        border-radius: 14px;
        border: 1px solid #BEBEBE;
        padding: 3px;
        cursor: pointer;

        &.current {
            background-color: $pink-bg;
            border: 1px solid black;
        }
    }
}