@use 'colors' as *;

.trustedby {
    h2 {
        color: $col-button-disabled;
        margin: 50px;
    }

    .items {
        max-width: 460px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

        .item {
            width: 150px;
            height: 90px;
            margin: 4px;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                scale: 1.5;
                width: 100px;
                height: 60px;
            }
        }
    }
}
