.premium-banner {
  color: #282828;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Roboto, Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  margin: 10px;

  .rectangle {
    height: 100%;
    background-color: #f3bc2d;
    border: 1px solid #fff;
    border-radius: 4px;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;

    .toprow {
      display: flex;
      flex-direction: row;
      width: 80%;
      flex-grow: unset;
      justify-content: space-around;
      align-items: center;
    }

    .expanded {
      .features {
        margin-top: 35px;
        margin-bottom: 35px;

        li {
          &.tbd {
            color: rgb(120, 120, 120);
          }
        }
      }
    }
  }

  .dropdown {
    width: 15px;
    height: 11px;
    object-fit: cover;
    margin-top: 1px;
    margin-left: 23px;

    &.rotated {
      transform: rotate(180deg);
    }
  }

  button {
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.14);
    width: 180px;
    height: 50px;
    margin-bottom: 10px;

    background-color: $event-bg;
    color: white;
    pointer-events: all;
  }
}