name: nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

env:
  CARGO_TERM_COLOR: always
  TRUNK_VERSION: v0.17.5
  UDEPS_VERSION: v0.1.42

jobs:

  check_udeps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/check_udeps

  check_backend:
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [nightly, stable]
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.rust == 'nightly' }} # nightly is ok to fail
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/check_be
        with:
          os: ${{ matrix.os }}
          rust: ${{ matrix.rust }}

  check_frontend:
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [nightly, stable]
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.rust == 'nightly' }} # nightly is ok to fail
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/check_fe
        with:
          os: ${{ matrix.os }}
          rust: ${{ matrix.rust }}
