name: prod cd (be only)

on:
  # only manually
  workflow_dispatch:

jobs:
  deploy_backend_prod:
    runs-on: ubuntu-latest
    environment: prod
    steps:
    - uses: actions/checkout@v4
    - name: Login to Docker Hub
      run: |
        docker login \
        -u liveask \
        -p ${{ secrets.DOCKER_PASSWORD }}
    - name: Publish Docker image
      run: |
        docker pull liveask/server:beta
        docker tag liveask/server:beta liveask/server:prod
        docker push liveask/server:prod
    - uses: ./.github/actions/deploy_ecs
      with:
        cluster: la-ecs-cluster-prod
        secrets: inherit
